.fourth-section{
    padding: 111px 0;
    background-color: var(--bg-color-400);
}

.fourth-section .fourth-section-title{
    font-size: var(--text-size-40);
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    max-width: 460px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.fourth-section .fourth-section-body{
    background-image: url('../../img/fourth-section.jpg') ;
    padding: 80px 0;
    position: relative;
    height: 634px;
    margin-top: 100px;
}

.fourth-section .fourth-section-body .body-content{
    background-color: var(--bg-color-400);
    width: max-content;
    padding: 70px;
    position: absolute;
    top: 80px;
    left: 80px;
}

.fourth-section .fourth-section-body .body-content .content-descr{
    max-width: 362px;
    font-size: var(--text-size-22);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 59px;
}

@media (max-width: 767px) {
    .fourth-section .fourth-section-body .body-content{
        top: 20px;
        left: 20px;
    }  
    
}

@media (max-width: 576px) {
    .fourth-section .fourth-section-body .body-content{
        width: 300px;
        padding: 10px;
        top: 5px;
        left: 5px;
    }
    .fourth-section .fourth-section-body .body-content .content-img{
        width: 280px;
    }
    .fourth-section .fourth-section-body .body-content .content-img img{
        width: 100%;
    }

    .fourth-section .fourth-section-title{
        font-size: var(--text-size-32);
    }
    
}
